@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?oqm43u');
  src:  url('../fonts/icomoon.eot?oqm43u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oqm43u') format('truetype'),
    url('../fonts/icomoon.woff?oqm43u') format('woff'),
    url('../fonts/icomoon.svg?oqm43u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e926";
}
.icon-map-pin-silhouette:before {
  content: "\e925";
}
.icon-sdfv65:before {
  content: "\e91e";
}
.icon-dv6b7:before {
  content: "\e91f";
}
.icon-808218:before {
  content: "\e920";
}
.icon-982206:before {
  content: "\e921";
}
.icon-1124776:before {
  content: "\e922";
}
.icon-11838751:before {
  content: "\e923";
}
.icon-1328187:before {
  content: "\e924";
}
.icon-instagram:before {
  content: "\e91b";
}
.icon-linkedin:before {
  content: "\e91c";
}
.icon-facebook:before {
  content: "\e91d";
}
.icon-placeholder:before {
  content: "\e900";
}
.icon-phone-call:before {
  content: "\e901";
}
.icon-message:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-gb6:before {
  content: "\e904";
}
.icon-hg76jh78:before {
  content: "\e905";
}
.icon-jdf89:before {
  content: "\e906";
}
.icon-fdv45:before {
  content: "\e907";
}
.icon-hfdv56g:before {
  content: "\e908";
}
.icon-hv76fg6:before {
  content: "\e909";
}
.icon-hv76:before {
  content: "\e90a";
}
.icon-marketing:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-gfb56a:before {
  content: "\e90d";
}
.icon-hsv56:before {
  content: "\e90e";
}
.icon-hngvhg76:before {
  content: "\e90f";
}
.icon-dfv45fg:before {
  content: "\e910";
}
.icon-dsd43fv45:before {
  content: "\e911";
}
.icon-kjdf87:before {
  content: "\e912";
}
.icon-dfvd45:before {
  content: "\e913";
}
.icon-dfv56:before {
  content: "\e914";
}
.icon-data:before {
  content: "\e915";
}
.icon-1470278:before {
  content: "\e916";
}
.icon-menu2:before {
  content: "\e917";
}
.icon-production:before {
  content: "\e918";
}
.icon-right-arrow11:before {
  content: "\e919";
}
.icon-left-arrow1:before {
  content: "\e91a";
}
.icon-ghn6h:before {
  content: "\e927";
}
.icon-gh76h8:before {
  content: "\e928";
}
.icon-dsv4sd:before {
  content: "\e929";
}
.icon-dfv6fgb5:before {
  content: "\e92a";
}
.icon-dfv67dfg6:before {
  content: "\e92b";
}
.icon-ju809u:before {
  content: "\e92c";
}
.icon-dbt65:before {
  content: "\e92d";
}
.icon-vgn56hg:before {
  content: "\e92e";
}
.icon-fgv45fvdfg5:before {
  content: "\e92f";
}
.icon-fgv45g5:before {
  content: "\e930";
}

@font-face {
  font-family: 'new-icomoon';
  src:  url('../fonts/new-font/new-icomoon.eot?g1n9rd');
  src:  url('../fonts/new-font/new-icomoon.eot?g1n9rd#iefix') format('embedded-opentype'),
    url('../fonts/new-font/new-icomoon.ttf?g1n9rd') format('truetype'),
    url('../fonts/new-font/new-icomoon.woff?g1n9rd') format('woff'),
    url('../fonts/new-font/new-icomoon.svg?g1n9rd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="new-icon-"], [class*=" new-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'new-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-icon-dsv4sd8789:before {
  content: "\e901";
}
.new-icon-fvsd58:before {
  content: "\e900";
}
.new-icon-DA-color .path1:before {
  content: "\e935";
  color: rgb(168, 24, 48);
}
.new-icon-DA-color .path2:before {
  content: "\e936";
  margin-left: -4.2392578125em;
  color: rgb(146, 148, 151);
}
.new-icon-DA-color .path3:before {
  content: "\e937";
  margin-left: -4.2392578125em;
  color: rgb(168, 24, 48);
}
.new-icon-DA-color .path4:before {
  content: "\e938";
  margin-left: -4.2392578125em;
  color: rgb(168, 24, 48);
}
.new-icon-DA-color .path5:before {
  content: "\e939";
  margin-left: -4.2392578125em;
  color: rgb(168, 24, 48);
}
.new-icon-DA-color .path6:before {
  content: "\e93a";
  margin-left: -4.2392578125em;
  color: rgb(168, 24, 48);
}
.new-icon-DA-color .path7:before {
  content: "\e93b";
  margin-left: -4.2392578125em;
  color: rgb(146, 148, 151);
}
.new-icon-DA-color .path8:before {
  content: "\e93c";
  margin-left: -4.2392578125em;
  color: rgb(146, 148, 151);
}
.new-icon-DA-color .path9:before {
  content: "\e93d";
  margin-left: -4.2392578125em;
  color: rgb(146, 148, 151);
}
.new-icon-DA-color .path10:before {
  content: "\e93e";
  margin-left: -4.2392578125em;
  color: rgb(146, 148, 151);
}
.new-icon-DA-color .path11:before {
  content: "\e93f";
  margin-left: -4.2392578125em;
  color: rgb(146, 148, 151);
}
.new-icon-DA-color .path12:before {
  content: "\e940";
  margin-left: -4.2392578125em;
  color: rgb(146, 148, 151);
}
.new-icon-DA-color .path13:before {
  content: "\e941";
  margin-left: -4.2392578125em;
  color: rgb(146, 148, 151);
}
.new-icon-DA-color .path14:before {
  content: "\e942";
  margin-left: -4.2392578125em;
  color: rgb(168, 24, 48);
}
.new-icon-DA-color .path15:before {
  content: "\e943";
  margin-left: -4.2392578125em;
  color: rgb(168, 24, 48);
}
.new-icon-DA-color .path16:before {
  content: "\e944";
  margin-left: -4.2392578125em;
  color: rgb(168, 24, 48);
}
.new-icon-DA-color .path17:before {
  content: "\e945";
  margin-left: -4.2392578125em;
  color: rgb(168, 24, 48);
}
.new-icon-DA-color .path18:before {
  content: "\e946";
  margin-left: -4.2392578125em;
  color: rgb(146, 148, 151);
}
.new-icon-DA-color .path19:before {
  content: "\e947";
  margin-left: -4.2392578125em;
  color: rgb(168, 24, 48);
}
.new-icon-DA-white:before {
  content: "\e948";
  color: #fff;
}
.new-icon-12157981:before {
  content: "\e909";
}

@font-face {
  font-family: 'new1-icomoon';
  src:  url('../fonts/new1-font/new1-icomoon.eot?iixecs');
  src:  url('../fonts/new1-font/new1-icomoon.eot?iixecs#iefix') format('embedded-opentype'),
    url('../fonts/new1-font/new1-icomoon.ttf?iixecs') format('truetype'),
    url('../fonts/new1-font/new1-icomoon.woff?iixecs') format('woff'),
    url('../fonts/new1-font/new1-icomoon.svg?iixecs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="new1-icon-"], [class*=" new1-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'new1-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new1-icon-fg890:before {
  content: "\e900";
}
